<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <!-- <title>Document</title> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
  <nav class="navbar navbar-light bg-light justify-content-between">
  <h2 (click)="getHome()" style="cursor: pointer">Viewtube</h2>
  <form class="form-inline">
    <li class="nav-item dropdown">
      <a   id="dropdownMenuButton1" class="nav-link dropdown-toggle" data-toggle="dropdown"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      >
      <fa-icon [icon]="faUser" style="position: relative;margin-left: 10px;"></fa-icon></a>
      <div class="dropdown-menu"   aria-labelledby="dropdownMenuButton1"
      style="cursor: pointer;">
          
          <!-- <a (click)="getFavourites()" class="dropdown-item">MyFavourites</a><br> -->
          <a (click)="logout()" class="dropdown-item">Logout</a><br>
          <a (click)="resetPassword()">ResetPassword</a>
      </div>
  </li> 
 
    <!-- <button
      (click)="logout()"
      class="btn btn-outline-dark my-2 my-sm-0 mx-2"
      type="button"
    >
      Logout
    </button> -->
  </form>
</nav>
<hr />
<div class="wrapper">
  <div class="sidebar">
    <!-- <h2>menu</h2> -->
    <ul>
      <li>
        <a href="/home"><i class="fas fa-home"></i>Home</a>
      </li>
       <!-- <li>
        <a style="cursor: pointer" name="User Profile" (click)="userprofile()">
          UserDetails
          
        </a>
      </li>  -->
      <li>
        <a  (click)="getFavourites()" style="cursor: pointer" name="Favourites" >
          My Favourites
          <!-- <fa-icon [icon]="faUser" style="position: relative"></fa-icon> -->
        </a>
      </li>
      
    </ul>
  </div>

  <div class="main_content ">
    <div class="mx-4 mt-5">
      <!-- <h2>Id : {{userDetails.userId}}</h2> -->
      <!-- <h2>Name : {{ userDetails.name }}</h2>
      <h2>Email : {{ userDetails.email }}</h2> -->
      <table>
        <!-- <h2>UserDetails</h2> -->
        <tr>
          <td>
        <h5>Name </h5>
          </td>
        <td>
        <h5>: {{userDetails.name}}</h5>
        </td>
        </tr>
        
        <tr>
        <td>
        <h5>Email </h5> </td>
        
        <td><h5>: {{userDetails.email}}</h5>
        </td>
        </tr>
        <tr>
        <td>
        <h5>PhoneNumber 
        </h5></td><td><h5> : {{userDetails.phoneNumber}}</h5>
        </td>
        </tr>
        
        <tr>
        <td>
        <h5>City </h5>
        </td><td><h5>: {{userDetails.address}}</h5></td>
        </tr>
        </table>

        <!-- <button (click)="resetPassword()" class="btn btn-outline-secondary mt-5 p-1">Reset Password</button> -->
        
        
    </div>
  </div>
</div>
</body>
</html>

