<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <main class="d-flex align-items-center min-vh-100">
      <div class="container">
        <!-- <h3 style="display: inline;">Viewtube</h3>-->
        <div class="card login-card">
          <nav class="nav">
            <h3 style="margin-right: 60px" id="h3">Viewtube</h3>
            <form class="form-inline">
              <li class="nav-item dropdown">
                <a   id="dropdownMenuButton1" class="nav-link dropdown-toggle" data-toggle="dropdown"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >
                <fa-icon [icon]="faUser" style="position: relative;margin-left: 10px;"></fa-icon></a>
                <div class="dropdown-menu"   aria-labelledby="dropdownMenuButton1"
                style="cursor: pointer;">
                    <a (click)="getHome()" class="dropdown-item">Home</a><br>
                    <a (click)="userprofile()" class="dropdown-item">UserProfile</a><br>
                    <a (click)="logout()" class="dropdown-item">logout</a><br>
                 
                </div>
            </li> 
            </form>
              
          </nav>

          <div class="row no-gutters">
            <div class="col-md-5">
              <img
                src="../../assets/headphones-4223911.jpg"
                alt="login"
                class="login-card-img"
              />
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <div class="brand-wrapper">
                  <h2 style="text-align: center">Reset Password</h2>
                </div>
                <!-- <form #regForm='ngForm' (ngSubmit)='Home(regForm)'> -->
                <form #form="ngForm" (ngSubmit)='handleSubmit(form)'>
                    <input type="password" class="form-control"placeholder="Old Password" required
                    name="oldPassword"
                    [(ngModel)]="oldPassword">
                    <input type="password" class="form-control" placeholder="New Password"
                     required
                    name="newPassword"
                    [(ngModel)]="newPassword">
                    <input class="form-control" type="text" placeholder="Confirm New Password" required
                    name="confirmPassword"
                    [(ngModel)]="confirmPassword">
                    <button type="submit" class="btn btn-outline-secondary mb-3 p-1 btn-block">Reset Password</button>
                    <!-- <a style="margin-top: 15px;"href="/userprofile">User Profile</a> -->
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </body>
</html>
