<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <title>Document</title> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<nav class="navbar navbar-light bg-light justify-content-between">
  <h1 (click)="getHome()" style="cursor: pointer;">Viewtube</h1>
 
  <form class="form-inline">
    
    <!-- <button  class="btn btn-outline-dark my-2 my-sm-0 mx-2" type="button" >Logout</button> -->
    <li class="nav-item dropdown">
      <a   id="dropdownMenuButton1" class="nav-link dropdown-toggle" data-toggle="dropdown"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      >
      <fa-icon [icon]="faUser" style="position: relative;margin-left: 10px;"></fa-icon></a>
      <div class="dropdown-menu"   aria-labelledby="dropdownMenuButton1"
      style="cursor: pointer;">
          <a (click)="userprofile()" class="dropdown-item">User Profile</a><br>
          <!-- <a (click)="getFavourites()" class="dropdown-item">MyFavourites</a><br> -->
          <a (click)="resetPassword()" class="dropdown-item">Reset Password</a><br>
          <a (click)="logout()" class="dropdown-item">Logout</a>
      </div>
  </li> 
  </form>
</nav>
<div class="wrapper">
  <!-- <app-side-bar></app-side-bar> -->
  <div class="sidebar">
   <!-- <h2>menu</h2> -->
   <ul>
     <li>
       <a href="/home"><i class="fas fa-home"></i>Home</a>
     </li>
      <!-- <li>
       <a style="cursor: pointer" name="User Profile" (click)="userprofile()">
         UserDetails
         
       </a>
     </li>  -->
     <li>
       <a (click)="getFavourites()" style="cursor: pointer" name="Favourites" >
         My Favourites
         <!-- <fa-icon [icon]="faUser" style="position: relative"></fa-icon> -->
       </a>
     </li>  
   </ul>
  </div>

    <div class="main_content">
        <div class="v-player">
<youtube-player 
  videoId="{{videoId}}" 
  suggestedQuality="highres" 
  [height]="350" 
  [width]="550" >
</youtube-player>
        </div>
    </div>
  </div>
</body>
</html>